In [1]:
#csv files detailed study with some more libraries

import numpy as np
import pandas as pd

In [2]:
data =('col-a,col-b,col-c,col-d\n'
      '1,2,3,4\n'
      '5,6,7,8\n'
      '9,10,11,12')

In [3]:
type(data)

str

In [4]:
from io import StringIO, BytesIO

In [5]:
StringIO()

In [36]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [9]:
#read from specific columns  
df = pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ['COL1', 'COL3'])

In [8]:
print(data)

col-a,col-b,col-c,col-d
1,2,3,4
5,6,7,8
9,10,11,12

In [13]:
df=pd.read_csv(StringIO(data),dtype=int)

In [14]:
df

   col-a  col-b  col-c  col-d
0      1      2      3      4
1      5      6      7      8
2      9     10     11     12

In [15]:
df['col-a']

0    1
1    5
2    9
Name: col-a, dtype: int32

In [16]:
df=pd.read_csv(StringIO(data),dtype={'col-a':int,'col-b':int,'col-c':float,'col-d':str})

In [17]:
df

   col-a  col-b  col-c col-d
0      1      2    3.0     4
1      5      6    7.0     8
2      9     10   11.0    12

In [18]:
df['col-d']

0     4
1     8
2    12
Name: col-d, dtype: object

In [19]:
df['col-b']

0     2
1     6
2    10
Name: col-b, dtype: int32

In [20]:
df['col-c']

0     3.0
1     7.0
2    11.0
Name: col-c, dtype: float64

In [23]:
 df['col-c'][2]

11.0

In [26]:
data = ('index,a,b,c\n'
       '4,apple,bat,5.7\n'
       '8,orange,cow,10')

In [27]:
pd.read_csv(StringIO(data))

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [31]:
data = ('a,b,c\n'
       '4,apple,bat,\n'
       '8,orange,cow,')

In [32]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [30]:
pd.read_csv(StringIO(data),index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [ ]:
#cobine use columns and index_col

data = ('a,b,c\n'
       '4,apple,bat,\n'
       '8,orange,cow,')

In [33]:
pd.read_csv(StringIO(data), usecols=['b','c'],index_col=False)

        b    c
0   apple  bat
1  orange  cow

### Quoting and Escape Characters, Very useful in NLP

In [37]:
data = 'a,b \n"hello,\\"Bob\\",nice to see you",5'

In [38]:
pd.read_csv(StringIO(data),escapechar='\\')

                             a  b
0  hello,"Bob",nice to see you   5

In [47]:
##URL  to CSV

df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
           sep='\t')

In [48]:
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358